.blog-page-wrap{
    position: relative;
    width: 1280px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    .blogPageCtn{

    }

    .btn-group{
        position: fixed;
        right: 200px;
        top: 80px;
        .btn{
            padding: 8px 20px;
            background-color: #3cafff;
            border: 1px solid #3cafff;
            color: #fff;
            border-radius: 4px;
            &:hover{
                background-color: #359ae1;
                border: 1px solid #359ae1;
            }
        }
    }
}
