body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
ol,ul,li{margin:0;padding:0;list-style:none;}
img{border:none;}

.grayBtn{
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  color: #123;
  &:hover{
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    color: #123;
  }
  &:active{
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    color: #123;
  }
}

